In [11]:
import requests
from bs4 import BeautifulSoup

#Imdb Most Popular TV Shows
wb='https://www.imdb.com/chart/tvmeter'
url=requests.get(wb).text  
#requests.get()-> used to send an HTTP GET request to the specified website URL.

soup=BeautifulSoup(url,'html.parser')

In [12]:
show = soup.find('tbody',class_='lister-list').find_all('tr')

NAME column

In [43]:
for i in show:
    name = i.find('td',class_='titleColumn').text
    print("NAME: "+name)
    break

NAME:
Black Mirror
(2011)
1
(no change)

In [49]:
for i in show:
    name = i.find('td',class_='titleColumn').a.text
    print("NAME: "+name)
    break
#a is used to access the <a> element within the found HTML element.

NAME: Black Mirror

Year column

In [50]:
for i in show:
    year = i.find('td',class_='titleColumn').text
    print("YEAR:",year)
    break

YEAR:
Black Mirror
(2011)
1
(no change)

In [51]:
for i in show:
    year = i.find('td',class_='titleColumn').span.text
    print("YEAR:",year)
    break
#.span is used to access the <span> element within the found HTML element. The span tag often contains the year information.

YEAR: (2011)

In [53]:
for i in show:
    year = i.find('td',class_='titleColumn').span.text.strip('()')
    print("YEAR:",year)
    break
#Strip function to used to remove the Parentheses

YEAR: 2011

Rate Column

In [62]:
for i in show:
    rate = i.find('td',class_='imdbRating').strong.text
    print("RATE:",rate)

RATE: 8.8
RATE: 7.2
RATE: 5.6
RATE: 8.1
RATE: 8.4
RATE: 8.9
RATE: 7.7
RATE: 8.2
RATE: 8.8

AttributeError: 'NoneType' object has no attribute 'text'

In [64]:
#It was found One Piece had no rating, so we'll use exception
for i in show:    
    try:
        rate = i.find('td',class_='imdbRating').strong.text
    except:
        rate ='NA'
    print("RATE:",rate)

RATE: 8.8
RATE: 7.2
RATE: 5.6
RATE: 8.1
RATE: 8.4
RATE: 8.9
RATE: 7.7
RATE: 8.2
RATE: 8.8
RATE: NA
RATE: 8.1
RATE: 7.9
RATE: 8.4
RATE: 6.9
RATE: 7.9
RATE: 9.2
RATE: 8.7
RATE: 8.4
RATE: 6.5
RATE: 8.1
RATE: 8.7
RATE: 7.1
RATE: 8.8
RATE: 7.3
RATE: 9.5
RATE: 8.3
RATE: 5.7
RATE: 8.7
RATE: 8.7
RATE: 8.7
RATE: 7.5
RATE: 7.5
RATE: 7.6
RATE: 8.0
RATE: 8.0
RATE: 8.4
RATE: 9.2
RATE: 9.0
RATE: 8.1
RATE: 7.0
RATE: 6.8
RATE: 7.8
RATE: 8.8
RATE: 9.0
RATE: 8.4
RATE: 8.6
RATE: 8.7
RATE: NA
RATE: 8.3
RATE: 7.5
RATE: 7.0
RATE: 8.1
RATE: 6.4
RATE: 7.8
RATE: 7.6
RATE: 7.9
RATE: 8.9
RATE: 8.9
RATE: 8.0
RATE: 8.1
RATE: 7.7
RATE: 8.9
RATE: 7.5
RATE: 8.8
RATE: 8.8
RATE: 8.5
RATE: 8.2
RATE: 5.5
RATE: 8.0
RATE: NA
RATE: 7.5
RATE: 7.2
RATE: 8.7
RATE: 8.4
RATE: 8.7
RATE: 9.1
RATE: 8.6
RATE: 7.8
RATE: 8.1
RATE: 8.6
RATE: 8.7
RATE: 8.6
RATE: 8.3
RATE: 7.9
RATE: 9.3
RATE: 8.0
RATE: 7.4
RATE: 9.1
RATE: 8.0
RATE: 7.3
RATE: 8.6
RATE: 8.1
RATE: 8.2
RATE: 8.1
RATE: 8.1
RATE: 8.5
RATE: 7.8
RATE: 8.5
RATE: 8.5
RATE: 7.9

Rank column

In [72]:
for i in show:
    rank = i.find('td',class_='titleColumn').get_text(strip=True)
    print(rank)
    break

Black Mirror(2011)1
(no change)

In [80]:
#We need the rank 1 from the above output
for i in show:
    rank = i.find('td',class_='titleColumn').get_text(strip=True).split(')')
    print(rank)
    break

['Black Mirror(2011', '1\n(no change', '']

In [82]:
#We'll need to focus on the second item and the first number from it
for i in show:
    rank = i.find('td',class_='titleColumn').get_text(strip=True).split(')')[1][0]
    print(rank)

1
2
3
4
5
6
7
8
9
1
1
1
1
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
2
3
3
3
3
3
3
3
3
3
3
4
4
4
4
4
4
4
4
4
4
5
5
5
5
5
5
5
5
5
5
6
6
6
6
6
6
6
6
6
6
7
7
7
7
7
7
7
7
7
7
8
8
8
8
8
8
8
8
8
8
9
9
9
9
9
9
9
9
9
9
1

In [83]:
#However, after 9 the number are in double digits, and also 100 is of 3 digits
#We'll need to use a count then

FINAL loop

In [84]:
count=0
for i in show:

    #We'll need to use a counter 
    count=count+1
    
    name = i.find('td',class_='titleColumn').a.text
    year = i.find('td',class_='titleColumn').span.text.strip('()')
       
    #It was found One Piece had no rating, so we'll use exception
    try:
        rate = i.find('td',class_='imdbRating').strong.text
    except:
        rate ='NA'
   
    #In order to get the proper rank, we'll use the count variable 
    if count<=9:
        rank = i.find('td',class_='titleColumn').get_text(strip=True).split(')')[1][0]
    elif count<100:
        rank = i.find('td',class_='titleColumn').get_text(strip=True).split(')')[1][0:2]
    else:
        rank = i.find('td',class_='titleColumn').get_text(strip=True).split(')')[1][0:3]
        
    print(rank, '-',name,'- ',year,' -',rate)

1 - Black Mirror -  2011  - 8.8
2 - Secret Invasion -  2023  - 7.2
3 - The Idol -  2023  - 5.6
4 - Silo -  2023  - 8.1
5 - The Bear -  2022  - 8.4
6 - Succession -  2018  - 8.9
7 - From -  2022  - 7.7
8 - Star Trek: Strange New Worlds -  2022  - 8.2
9 - Ted Lasso -  2020  - 8.8
10 - One Piece -  2023  - NA
11 - The Righteous Gemstones -  2019  - 8.1
12 - The Walking Dead: Dead City -  2023  - 7.9
13 - Suits -  2011  - 8.4
14 - The Crowded Room -  2023  - 6.9
15 - Never Have I Ever -  2020  - 7.9
16 - Game of Thrones -  2011  - 9.2
17 - Yellowstone -  2018  - 8.7
18 - Outlander -  2014  - 8.4
19 - FUBAR -  2023  - 6.5
20 - The Walking Dead -  2010  - 8.1
21 - Demon Slayer: Kimetsu no Yaiba -  2019  - 8.7
22 - Manifest -  2018  - 7.1
23 - It's Always Sunny in Philadelphia -  2005  - 8.8
24 - Based on a True Story -  2023  - 7.3
25 - Breaking Bad -  2008  - 9.5
26 - Jury Duty -  2023  - 8.3
27 - And Just Like That... -  2021  - 5.7
28 - The Boys -  2019  - 8.7
29 - 1883 -  2021  - 8.7
30 - Stranger Things -  2016  - 8.7
31 - Cruel Summer -  2021  - 7.5
32 - The Flash -  2014  - 7.5
33 - Grey's Anatomy -  2005  - 7.6
34 - The Rookie -  2018  - 8.0
35 - The Blacklist -  2013  - 8.0
36 - Barry -  2018  - 8.4
37 - The Sopranos -  1999  - 9.2
38 - Better Call Saul -  2015  - 9.0
39 - The Witcher -  2019  - 8.1
40 - The Full Monty -  2023  - 7.0
41 - Fear the Walking Dead -  2015  - 6.8
42 - Yellowjackets -  2021  - 7.8
43 - The Last of Us -  2023  - 8.8
44 - The Office -  2005  - 9.0
45 - Supernatural -  2005  - 8.4
46 - Shameless -  2011  - 8.6
47 - The Marvelous Mrs. Maisel -  2017  - 8.7
48 - 3 Body Problem -  2024  - NA
49 - Euphoria -  2019  - 8.3
50 - Love & Death -  2023  - 7.5
51 - Platonic -  2023  - 7.0
52 - Law & Order: Special Victims Unit -  1999  - 8.1
53 - Deadloch -  2023  - 6.4
54 - NCIS -  2003  - 7.8
55 - Young Sheldon -  2017  - 7.6
56 - The White Lotus -  2021  - 7.9
57 - One Piece -  1999  - 8.9
58 - Friends -  1994  - 8.9
59 - Jack Ryan -  2018  - 8.0
60 - Criminal Minds -  2005  - 8.1
61 - Joe Pickett -  2021  - 7.7
62 - True Detective -  2014  - 8.9
63 - Foundation -  2021  - 7.5
64 - Vinland Saga -  2019  - 8.8
65 - Peaky Blinders -  2013  - 8.8
66 - Modern Family -  2009  - 8.5
67 - The Big Bang Theory -  2007  - 8.2
68 - Glamorous -  2023  - 5.5
69 - The Diplomat -  2023  - 8.0
70 - Avatar: The Last Airbender -  2024  - NA
71 - The Night Agent -  2023  - 7.5
72 - S.W.A.T. -  2017  - 7.2
73 - The Mandalorian -  2019  - 8.7
74 - 1923 -  2022  - 8.4
75 - Severance -  2022  - 8.7
76 - Attack on Titan -  2013  - 9.1
77 - Endeavour -  2012  - 8.6
78 - Bones -  2005  - 7.8
79 - Wednesday -  2022  - 8.1
80 - Doctor Who -  2005  - 8.6
81 - House M.D. -  2004  - 8.7
82 - Justified -  2010  - 8.6
83 - Lost -  2004  - 8.3
84 - Poker Face -  2023  - 7.9
85 - The Wire -  2002  - 9.3
86 - Shrinking -  2023  - 8.0
87 - Bridgerton -  2020  - 7.4
88 - Rick and Morty -  2013  - 9.1
89 - The Good Doctor -  2017  - 8.0
90 - Sex and the City -  1998  - 7.3
91 - What We Do in the Shadows -  2019  - 8.6
92 - Beef -  2023  - 8.1
93 - The Great -  2020  - 8.2
94 - Bloodhounds -  2023  - 8.1
95 - Reacher -  2022  - 8.1
96 - House of the Dragon -  2022  - 8.5
97 - Superman & Lois -  2021  - 7.8
98 - Vikings -  2013  - 8.5
99 - Happy Valley -  2014  - 8.5
100 - Midsomer Murders -  1997  - 7.9